.movie {
  width: 300px;
  height: 450px;
  position: relative;
  margin: 0 16px;
  overflow: hidden;
  border-radius: 4px;
  padding: 32px 16px;
}

.movie:hover .movie__img > img {
  filter: brightness(55%);
}

.movie:hover .movie__content {
  visibility: visible;
  opacity: 100%;
}

.movie__img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.movie__img > img {
  width: 100%;
  object-fit: cover;
  transition: 200ms ease;
}

.movie__content {
position: relative;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease;
  color: white;
  z-index: 2;
}

.movie__top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 64px;
}

.movie__top > h4{
    font-size: 40px;
    margin-bottom: 2px;
}

.movie__genres{
display: flex;
flex-wrap: wrap;
}

.movie__genres > p{
    font-weight: 400;
    font-size: 12px;
    padding: 6px 12px;
    background-color: rgba(68, 68, 68, 0.637);
    border-radius: 40px;
    margin-bottom: 4px;
}

.movie__genres > p:not(:first-child){
    margin-left: 4px;
}

.movie__details{
    display: flex;
    flex-direction: column;
}

.movie__detail{
    display: flex;
    justify-content: space-between;
}

.movie__detail > p{
    font-weight: 300;
    font-size: 14px;
}

.movie__detail > .MuiSvgIcon-root{
    font-size: 18px;
}

.movie__language > p{
    text-transform: uppercase;
}

.movie__detail:not(:last-child){
    margin-bottom: 48px;
}

