.pagination{
    max-width: 600px;
    margin: 0 auto;
    margin-top: -60px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
}

.pagination__container{
    width: 100%;
}

.pagination__row{
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pagination__pages{
    display: flex;
    align-items: center;
   flex: 1;
   padding: 0 44px;
   justify-content: center
}

.pagination__pages > p{
    font-weight: 300;
    margin: 0 16px;
}

.selected{
    background-color: #2560e9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.disabled{
   opacity: 25%;
   cursor: default
}

.pagination__prev{
    margin-left: 20px;
}

.pagination__next{
    margin-right: 20px;
}

.pagination__button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    color: white;
    background-color: #2560e9;
    border: none;
outline: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.pagination__button > .MuiSvgIcon-root{
    font-size: 24px;
}
